<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <ul>
        <% messagesList.forEach(message => { %>
            <li><%= message.user %> - <%= message.message %><button message-id="<%= message._id %>" message-user="<%= message.user %>" class="delete-button">Supprimer</button></li>
        <% }); %>
    </ul>
    <input id="user-input" type="text" name="user" placeholder="User" required>
    <input id="message-input" type="text" name="message" placeholder="Message" required>
    <button id="submit-button">Envoyer</button>

<script src="./js/api.js"></script>
</body>
</html>